.PhoneInputInput {
  height: 55px;
  font-size: 18px;
  padding: 12px;

  /* Slim light blue border */
  border: 1px solid #85999f;
  /* Light blue color */
  border-radius: 4px;
  /* Slightly rounded corners for a smooth look */
  outline: none;
  /* Remove default outline */
}

.PhoneInputInput :hover {

  border: 1px solid #000000;

}

/* Optional: Add a focus state to enhance user experience */
.PhoneInputInput:focus {
  border-color: #70a8d0;
  /* Darker blue when focused */
  box-shadow: 0 0 5px rgba(112, 168, 208, 0.5);
  /* Optional subtle shadow effect */
}